@import "tailwindcss";

@theme {
  --color-background-card: #ffffff;
  --color-text-DEFAULT: #1f2937;
  --color-text-muted: #6b7280;
  --color-accent: #7c3aed;
  --color-accent-from: #7c3aed;
  --color-accent-via: #ec4899;
  --color-accent-to: #ef4444;
}

@layer base {
  body {
    @apply min-h-screen bg-linear-to-br from-accent-from via-accent-via to-accent-to;
  }
}